.features {
   padding: 26px 0px;

   &__content {
      border-radius: 24px;
      background-color: var(--page-bg-dark-blue);
      position: relative;
      padding: 64px 0px;
      @media (max-width: 768px) {
         padding: 0;
      }

      @media (min-width: 769px) {
         &:before,
         &:after {
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 33px;
            height: 645px;
            background: var(--neutural-white);
         }

         &:before {
            left: -1px;
            clip-path: polygon(0 0, 100% 6%, 100% 94%, 0 100%);
         }

         &:after {
            right: -1px;
            clip-path: polygon(0 6%, 100% 0, 100% 100%, 0 94%);
         }
      }

   }

   &__body {
      @media (max-width: 1600px) {
         margin: 0px 50px;
      }
      @media (max-width: 768px) {
         margin: 0;
         padding: 64px 32px;
      }
      @media (max-width: 425px) {
         padding: 32px;
      }
   }

   &__info {
      display: flex;
      justify-content: space-between;
      gap: 80px;
      margin-bottom: 120px;
      position: relative;

      @media (max-width: 1440px) {
         margin-bottom: 90px;
         gap: 40px;
      }

      @media (max-width: 1024px) {
         flex-direction: column;
         align-items: center;
         gap: 25px;
         text-align: center;
      }

      @media (max-width: 768px) {
         margin-bottom: 50px;
         gap: 15px;
      }

      @media (min-width: 769px) {
         &:after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -60px;
            width: 100%;
            height: 1px;
            background: rgb(79, 102, 183);
            background: radial-gradient(circle, rgba(79, 102, 183, 0.7077205882352942) 50%, rgba(20, 34, 87, 1) 100%);

            @media (max-width: 1440px) {
               bottom: -45px;
            }
         }
      }

   }

   &__title {
      color: var(--neutural-white);
      flex: 0 1 50%;
   }

   &__text {
      color: var(--neutural-grey-3);
      font-size: 18px;
      line-height: 155.5%;
      align-self: flex-end;
      flex: 0 1 50%;
   }

   &__row {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 180px;
      row-gap: 60px;

      @media (max-width: 1600px) {
         column-gap: 100px;
         row-gap: 40px;
      }

      @media (max-width: 1440px) {
         column-gap: 70px;
         row-gap: 30px;
      }

      @media (max-width: 1024px) {
         grid-template-columns: 1fr;
         row-gap: 52px;
      }

   }
}

.item-feature {
   &__inner {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      gap: 32px;

      @media (max-width: 1440px) {
         gap: 20px;
      }

      @media (max-width: 768px) {
         flex-direction: column;
         align-items: center;
         text-align: center;
         gap: 17px;
      }
   }

   &__icon {
      width: 100px;
      height: 100px;
      flex: 0 0 100px;
      @include adaptiveValue('width', 100, 80);
      @include adaptiveValue('height', 100, 80);
      @include adaptiveValue('flex-basis', 100, 80);

      img {
         width: 100%;
         height: 100%;
      }
   }

   &__info {
      flex: 0 1 auto;
   }

   &__name {
      color: var(--neutural-white);
      font-weight: 700;
      @include adaptiveValue('font-size', 24, 18);
      @include adaptiveValue('line-height', 32, 24);
      margin-bottom: 12px;

      @media (max-width: 1440px) {
         margin-bottom: 4px;
      }
   }

   &__text {
      color: var(--neutural-grey-3);
      font-size: 18px;
      line-height: 155.5%;
   }
}